name: test
on: [ push, pull_request, workflow_dispatch ]
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                perl-version: [ devel, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 18, 16, 14 ]
        container:
            image: |-
                perldocker/perl-tester:${{
                    contains( matrix.perl-version, 'd' )
                        && matrix.perl-version
                        || format( '5.{0}', matrix.perl-version )
                }}
        env:
            PERL_CPANM_OPT: |-
                --from https://cpan.metacpan.org
                --notest
                --force
                --skip-satisfied
                --with-develop
                --with-all-features
                --installdeps
            HARNESS_PERL_SWITCHES: -MDevel::Cover
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        steps:
            - uses: actions/checkout@v4
            - uses: perl-actions/install-with-cpanm@v1
              with: { sudo: false, args: . }
            - run: prove --recurse --lib --failures --jobs 4 --timer t
            - run: cover -report codecov
              if: env.CODECOV_TOKEN != null && ( matrix.perl-version == 'devel' || matrix.perl-version >= 26 )
